
@keyframes slide {
    from {
        transform: translateY(-35px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}